[package]
name = "cas-parser"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dev-dependencies]
pretty_assertions = "1.3.0"

[dependencies]
ariadne = "0.2.0"
logos = "0.13.0"
